psycopg2-binary>=2.9.10
python-tds>=1.16.0
sqlglot>=26.11.1
python-dotenv>=1.0.1
tqdm>=4.67.1               # Added for progress bars
prometheus-client>=0.21.1  # Added for metrics
python_tds>=1.16.0
tenacity>=9.0.0
setuptools>=76.1.0
docopt>=0.6.2 
greenlet>=3.1.1 
migrator>=0.0.8 
sqlalchemy>=2.0.39
typing-extensions>=4.12.2
