fastapi>=0.78.0
uvicorn>=0.18.2
python-dotenv>=1.0.1
python-jose[cryptography]>=3.4.0  # Updated for JWT
passlib[bcrypt]>=1.7.4            # Updated for password hashing
psycopg-binary>=3.2.6
prometheus-client>=0.21.1         # Added for metrics
aiohttp>=3.11.14                    # Added for async HTTP client
python-tds>=1.16.0
tenacity>=9.0.0
python-multipart==0.0.20
logger>=1.4
